<?php
/**
 * ConnectionsApi
 * PHP version 8.1
 *
 * @package  Repull
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */

/**
 * Repull API
 *
 * The unified API for vacation rental tech. Connect to 50+ PMS platforms and 4 OTA channels through one REST API. Built-in AI operations for guest communication, pricing, and listing optimization.  ## Designed for AI agents Every error response on this API includes machine-parseable fields so an LLM (Claude in MCP, Cursor, Cline, GPT, etc.) can self-recover without escalating to a human: - `error.code` — stable string identifier (e.g. `invalid_params`, `rate_limit_exceeded`) - `error.message` — human-readable cause - `error.fix` — exact recovery steps (e.g. \"Pass `check_in_after` as ISO 8601: `?check_in_after=2026-01-15`\") - `error.docs_url` — link to the canonical write-up at `https://repull.dev/docs/errors/{code}` - `error.request_id` — id to correlate with server-side logs - `error.field` / `error.value_received` / `error.valid_values` / `error.did_you_mean` — when the error is parameter-specific - `error.retry_after` — seconds to wait before retrying (rate-limit + transient upstream)  `Access-Control-Expose-Headers` lists `x-request-id` and the `X-RateLimit-*` family so browsers can read them on cross-origin responses.  ## Quick Start 1. Get an API key at https://repull.dev/dashboard 2. Connect a PMS: `POST /v1/connect/{provider}` 3. List properties: `GET /v1/properties` 4. Get reservations: `GET /v1/reservations`  ## Authentication All requests require a Bearer token: ``` Authorization: Bearer sk_live_YOUR_API_KEY ```  ## Request Correlation (X-Request-ID) Every response carries an `X-Request-ID` header, e.g. `X-Request-ID: req_01HXY...`. Include this id in support tickets and bug reports — we can trace the full request lifecycle (auth, rate limit, handler, downstream calls, log row) from a single id.  You may set the header on the inbound request to forward your own trace id; we will echo it back instead of generating a new one. Accepted format: `^[\\\\w.-]{1,128}$`.  The id is also embedded in error envelopes as `request_id` so server-side log diffs work even when the response headers are stripped by an intermediate proxy.  ## Rate Limits The public API enforces a per-API-key sliding-window rate limit on top of the per-tier monthly + daily-AI quotas.  **Default policy:** 600 requests per 60 seconds, per API key. Sliding window — there is no fixed-minute boundary you can burst across.  Every response includes:  | Header | Meaning | |---|---| | `X-RateLimit-Limit` | Requests permitted in the current window. | | `X-RateLimit-Remaining` | Requests left in the current window after this call. | | `X-RateLimit-Reset` | Unix epoch (seconds) when the next slot opens. | | `X-RateLimit-Policy` | Machine-readable policy descriptor, e.g. `600;w=60`. | | `Retry-After` | Seconds to wait before retrying. **Only present on 429 responses.** |  **On 429 (rate_limit_exceeded):** the response body matches the standard error envelope with `code: \"rate_limit_exceeded\"`, plus `limit`, `window_seconds`, `retry_after`, and `request_id` fields. SDKs MUST honor `Retry-After` and use exponential backoff with jitter on subsequent retries — never a tight loop.  Recommended backoff: ``` sleep_ms = (Retry-After * 1000) + random(0..250) ```  Monthly + daily-AI tier quotas (`free`, `starter`, `custom`) are enforced separately and also surface as 429s; they include `tier`, `scope`, and `resetsAt` fields.  ## Plan Limits (402 — `listings_limit_exceeded`) The Repull API also enforces a per-tier cap on **active listings**:  | Tier | Active listings cap | |---|---| | `free` | 3 | | `starter` | 50 | | `custom` | unlimited |  When a customer's active-listing count is above their tier cap, the API returns **`402 Payment Required`** with `error.code = \"listings_limit_exceeded\"` on every route EXCEPT:  - `/v1/health` — uptime probes are never gated. - `/v1/usage/_*` — so dashboards can render the over-cap state. - Any `DELETE` — so the customer can trim listings to get back under the cap without paying.  Unlike 429, 402 is NOT a \"wait and retry\" condition — `Retry-After` is not set. The only paths back to 200 are:   1. `DELETE` enough listings to come back under the cap, or   2. Upgrade at `https://repull.dev/dashboard/billing`. The server-side usage cache is 60s, so the first 200 after an upgrade may take up to a minute.  The envelope mirrors `rate_limit_exceeded` for SDK ergonomics: `tier`, `limit`, `active_listings`, `upgrade_url`, plus the standard `code` / `message` / `fix` / `docs_url` / `request_id`.
 *
 * The version of the OpenAPI document: 1.0.0
 * @generated Generated by: https://openapi-generator.tech
 * Generator version: 7.22.0
 */

/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace Repull\Api;

use InvalidArgumentException;
use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\ConnectException;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use GuzzleHttp\Promise\PromiseInterface;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\ResponseInterface;
use Repull\ApiException;
use Repull\Configuration;
use Repull\HeaderSelector;
use Repull\FormDataProcessor;
use Repull\ObjectSerializer;

/**
 * ConnectionsApi Class Doc Comment
 *
 * @package  Repull
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
class ConnectionsApi
{
    /**
     * @var ClientInterface
     */
    protected ClientInterface $client;

    /**
     * @var Configuration
     */
    protected Configuration $config;

    /**
     * @var HeaderSelector
     */
    protected HeaderSelector $headerSelector;

    /**
     * @var int Host index
     */
    protected int $hostIndex;

    /** @var string[] $contentTypes **/
    public const contentTypes = [
        'applyConnectionMappings' => [
            'application/json',
        ],
        'autoMapConnectionUnits' => [
            'application/json',
        ],
        'listConnectionUnits' => [
            'application/json',
        ],
        'searchConnectionListingOptions' => [
            'application/json',
        ],
    ];

    /**
     * @param ClientInterface|null $client
     * @param Configuration|null   $config
     * @param HeaderSelector|null  $selector
     * @param int                  $hostIndex (Optional) host index to select the list of hosts if defined in the OpenAPI spec
     */
    public function __construct(
        ?ClientInterface $client = null,
        ?Configuration $config = null,
        ?HeaderSelector $selector = null,
        int $hostIndex = 0
    ) {
        $this->client = $client ?: new Client();
        $this->config = $config ?: Configuration::getDefaultConfiguration();
        $this->headerSelector = $selector ?: new HeaderSelector();
        $this->hostIndex = $hostIndex;
    }

    /**
     * Set the host index
     *
     * @param int $hostIndex Host index (required)
     */
    public function setHostIndex(int $hostIndex): void
    {
        $this->hostIndex = $hostIndex;
    }

    /**
     * Get the host index
     *
     * @return int Host index
     */
    public function getHostIndex(): int
    {
        return $this->hostIndex;
    }

    /**
     * @return Configuration
     */
    public function getConfig(): Configuration
    {
        return $this->config;
    }

    /**
     * Operation applyConnectionMappings
     *
     * Map, unmap or create listings for units
     *
     * @param  string $id Connection handle &#x60;{channel}:{externalAccountId}&#x60;, e.g. &#x60;vrbo:12&#x60; or &#x60;booking_extranet:36&#x60;. (required)
     * @param  \Repull\Model\ApplyConnectionMappingsRequest $apply_connection_mappings_request apply_connection_mappings_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['applyConnectionMappings'] to see the possible values for this operation
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws InvalidArgumentException
     * @return \Repull\Model\ApplyConnectionMappings200Response
     */
    public function applyConnectionMappings(
        string $id,
        \Repull\Model\ApplyConnectionMappingsRequest $apply_connection_mappings_request,
        string $contentType = self::contentTypes['applyConnectionMappings'][0]
    ): \Repull\Model\ApplyConnectionMappings200Response
    {
        list($response) = $this->applyConnectionMappingsWithHttpInfo($id, $apply_connection_mappings_request, $contentType);
        return $response;
    }

    /**
     * Operation applyConnectionMappingsWithHttpInfo
     *
     * Map, unmap or create listings for units
     *
     * @param  string $id Connection handle &#x60;{channel}:{externalAccountId}&#x60;, e.g. &#x60;vrbo:12&#x60; or &#x60;booking_extranet:36&#x60;. (required)
     * @param  \Repull\Model\ApplyConnectionMappingsRequest $apply_connection_mappings_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['applyConnectionMappings'] to see the possible values for this operation
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws InvalidArgumentException
     * @return array of \Repull\Model\ApplyConnectionMappings200Response, HTTP status code, HTTP response headers (array of strings)
     */
    public function applyConnectionMappingsWithHttpInfo(
        string $id,
        \Repull\Model\ApplyConnectionMappingsRequest $apply_connection_mappings_request,
        string $contentType = self::contentTypes['applyConnectionMappings'][0]
    ): array
    {
        $request = $this->applyConnectionMappingsRequest($id, $apply_connection_mappings_request, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();

            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\Repull\Model\ApplyConnectionMappings200Response',
                        $request,
                        $response,
                    );
            }
            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\Repull\Model\ApplyConnectionMappings200Response',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Repull\Model\ApplyConnectionMappings200Response',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        
            throw $e;
        }
    }

    /**
     * Operation applyConnectionMappingsAsync
     *
     * Map, unmap or create listings for units
     *
     * @param  string $id Connection handle &#x60;{channel}:{externalAccountId}&#x60;, e.g. &#x60;vrbo:12&#x60; or &#x60;booking_extranet:36&#x60;. (required)
     * @param  \Repull\Model\ApplyConnectionMappingsRequest $apply_connection_mappings_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['applyConnectionMappings'] to see the possible values for this operation
     *
     * @throws InvalidArgumentException
     * @return PromiseInterface
     */
    public function applyConnectionMappingsAsync(
        string $id,
        \Repull\Model\ApplyConnectionMappingsRequest $apply_connection_mappings_request,
        string $contentType = self::contentTypes['applyConnectionMappings'][0]
    ): PromiseInterface
    {
        return $this->applyConnectionMappingsAsyncWithHttpInfo($id, $apply_connection_mappings_request, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation applyConnectionMappingsAsyncWithHttpInfo
     *
     * Map, unmap or create listings for units
     *
     * @param  string $id Connection handle &#x60;{channel}:{externalAccountId}&#x60;, e.g. &#x60;vrbo:12&#x60; or &#x60;booking_extranet:36&#x60;. (required)
     * @param  \Repull\Model\ApplyConnectionMappingsRequest $apply_connection_mappings_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['applyConnectionMappings'] to see the possible values for this operation
     *
     * @throws InvalidArgumentException
     * @return PromiseInterface
     */
    public function applyConnectionMappingsAsyncWithHttpInfo(
        string $id,
        \Repull\Model\ApplyConnectionMappingsRequest $apply_connection_mappings_request,
        string $contentType = self::contentTypes['applyConnectionMappings'][0]
    ): PromiseInterface
    {
        $returnType = '\Repull\Model\ApplyConnectionMappings200Response';
        $request = $this->applyConnectionMappingsRequest($id, $apply_connection_mappings_request, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if (in_array($returnType, ['\SplFileObject', '\Psr\Http\Message\StreamInterface'])) {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'applyConnectionMappings'
     *
     * @param  string $id Connection handle &#x60;{channel}:{externalAccountId}&#x60;, e.g. &#x60;vrbo:12&#x60; or &#x60;booking_extranet:36&#x60;. (required)
     * @param  \Repull\Model\ApplyConnectionMappingsRequest $apply_connection_mappings_request (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['applyConnectionMappings'] to see the possible values for this operation
     *
     * @throws InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function applyConnectionMappingsRequest(
        string $id,
        \Repull\Model\ApplyConnectionMappingsRequest $apply_connection_mappings_request,
        string $contentType = self::contentTypes['applyConnectionMappings'][0]
    ): Request
    {

        // verify the required parameter 'id' is set
        if ($id === null || (is_array($id) && count($id) === 0)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $id when calling applyConnectionMappings'
            );
        }

        // verify the required parameter 'apply_connection_mappings_request' is set
        if ($apply_connection_mappings_request === null || (is_array($apply_connection_mappings_request) && count($apply_connection_mappings_request) === 0)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $apply_connection_mappings_request when calling applyConnectionMappings'
            );
        }


        $resourcePath = '/v1/connections/{id}/mappings';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;



        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                '{id}',
                ObjectSerializer::toPathValue($id),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($apply_connection_mappings_request)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($apply_connection_mappings_request));
            } else {
                $httpBody = $apply_connection_mappings_request;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer (API Key) authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation autoMapConnectionUnits
     *
     * Auto-map units by exact name
     *
     * @param  string $id Connection handle &#x60;{channel}:{externalAccountId}&#x60;, e.g. &#x60;vrbo:12&#x60; or &#x60;booking_extranet:36&#x60;. (required)
     * @param  \Repull\Model\AutoMapConnectionUnitsRequest|null $auto_map_connection_units_request auto_map_connection_units_request (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['autoMapConnectionUnits'] to see the possible values for this operation
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws InvalidArgumentException
     * @return \Repull\Model\AutoMapConnectionUnits200Response
     */
    public function autoMapConnectionUnits(
        string $id,
        ?\Repull\Model\AutoMapConnectionUnitsRequest $auto_map_connection_units_request = null,
        string $contentType = self::contentTypes['autoMapConnectionUnits'][0]
    ): \Repull\Model\AutoMapConnectionUnits200Response
    {
        list($response) = $this->autoMapConnectionUnitsWithHttpInfo($id, $auto_map_connection_units_request, $contentType);
        return $response;
    }

    /**
     * Operation autoMapConnectionUnitsWithHttpInfo
     *
     * Auto-map units by exact name
     *
     * @param  string $id Connection handle &#x60;{channel}:{externalAccountId}&#x60;, e.g. &#x60;vrbo:12&#x60; or &#x60;booking_extranet:36&#x60;. (required)
     * @param  \Repull\Model\AutoMapConnectionUnitsRequest|null $auto_map_connection_units_request (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['autoMapConnectionUnits'] to see the possible values for this operation
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws InvalidArgumentException
     * @return array of \Repull\Model\AutoMapConnectionUnits200Response, HTTP status code, HTTP response headers (array of strings)
     */
    public function autoMapConnectionUnitsWithHttpInfo(
        string $id,
        ?\Repull\Model\AutoMapConnectionUnitsRequest $auto_map_connection_units_request = null,
        string $contentType = self::contentTypes['autoMapConnectionUnits'][0]
    ): array
    {
        $request = $this->autoMapConnectionUnitsRequest($id, $auto_map_connection_units_request, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();

            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\Repull\Model\AutoMapConnectionUnits200Response',
                        $request,
                        $response,
                    );
            }
            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\Repull\Model\AutoMapConnectionUnits200Response',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Repull\Model\AutoMapConnectionUnits200Response',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        
            throw $e;
        }
    }

    /**
     * Operation autoMapConnectionUnitsAsync
     *
     * Auto-map units by exact name
     *
     * @param  string $id Connection handle &#x60;{channel}:{externalAccountId}&#x60;, e.g. &#x60;vrbo:12&#x60; or &#x60;booking_extranet:36&#x60;. (required)
     * @param  \Repull\Model\AutoMapConnectionUnitsRequest|null $auto_map_connection_units_request (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['autoMapConnectionUnits'] to see the possible values for this operation
     *
     * @throws InvalidArgumentException
     * @return PromiseInterface
     */
    public function autoMapConnectionUnitsAsync(
        string $id,
        ?\Repull\Model\AutoMapConnectionUnitsRequest $auto_map_connection_units_request = null,
        string $contentType = self::contentTypes['autoMapConnectionUnits'][0]
    ): PromiseInterface
    {
        return $this->autoMapConnectionUnitsAsyncWithHttpInfo($id, $auto_map_connection_units_request, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation autoMapConnectionUnitsAsyncWithHttpInfo
     *
     * Auto-map units by exact name
     *
     * @param  string $id Connection handle &#x60;{channel}:{externalAccountId}&#x60;, e.g. &#x60;vrbo:12&#x60; or &#x60;booking_extranet:36&#x60;. (required)
     * @param  \Repull\Model\AutoMapConnectionUnitsRequest|null $auto_map_connection_units_request (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['autoMapConnectionUnits'] to see the possible values for this operation
     *
     * @throws InvalidArgumentException
     * @return PromiseInterface
     */
    public function autoMapConnectionUnitsAsyncWithHttpInfo(
        string $id,
        ?\Repull\Model\AutoMapConnectionUnitsRequest $auto_map_connection_units_request = null,
        string $contentType = self::contentTypes['autoMapConnectionUnits'][0]
    ): PromiseInterface
    {
        $returnType = '\Repull\Model\AutoMapConnectionUnits200Response';
        $request = $this->autoMapConnectionUnitsRequest($id, $auto_map_connection_units_request, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if (in_array($returnType, ['\SplFileObject', '\Psr\Http\Message\StreamInterface'])) {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'autoMapConnectionUnits'
     *
     * @param  string $id Connection handle &#x60;{channel}:{externalAccountId}&#x60;, e.g. &#x60;vrbo:12&#x60; or &#x60;booking_extranet:36&#x60;. (required)
     * @param  \Repull\Model\AutoMapConnectionUnitsRequest|null $auto_map_connection_units_request (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['autoMapConnectionUnits'] to see the possible values for this operation
     *
     * @throws InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function autoMapConnectionUnitsRequest(
        string $id,
        ?\Repull\Model\AutoMapConnectionUnitsRequest $auto_map_connection_units_request = null,
        string $contentType = self::contentTypes['autoMapConnectionUnits'][0]
    ): Request
    {

        // verify the required parameter 'id' is set
        if ($id === null || (is_array($id) && count($id) === 0)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $id when calling autoMapConnectionUnits'
            );
        }



        $resourcePath = '/v1/connections/{id}/mappings/automap';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;



        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                '{id}',
                ObjectSerializer::toPathValue($id),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($auto_map_connection_units_request)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($auto_map_connection_units_request));
            } else {
                $httpBody = $auto_map_connection_units_request;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer (API Key) authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation listConnectionUnits
     *
     * List a connection&#39;s mappable units
     *
     * @param  string $id Connection handle &#x60;{channel}:{externalAccountId}&#x60;, e.g. &#x60;vrbo:12&#x60; or &#x60;booking_extranet:36&#x60;. (required)
     * @param  string|null $session_id The Connect session ID (capability token). (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['listConnectionUnits'] to see the possible values for this operation
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws InvalidArgumentException
     * @return \Repull\Model\ListConnectionUnits200Response
     */
    public function listConnectionUnits(
        string $id,
        ?string $session_id = null,
        string $contentType = self::contentTypes['listConnectionUnits'][0]
    ): \Repull\Model\ListConnectionUnits200Response
    {
        list($response) = $this->listConnectionUnitsWithHttpInfo($id, $session_id, $contentType);
        return $response;
    }

    /**
     * Operation listConnectionUnitsWithHttpInfo
     *
     * List a connection&#39;s mappable units
     *
     * @param  string $id Connection handle &#x60;{channel}:{externalAccountId}&#x60;, e.g. &#x60;vrbo:12&#x60; or &#x60;booking_extranet:36&#x60;. (required)
     * @param  string|null $session_id The Connect session ID (capability token). (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['listConnectionUnits'] to see the possible values for this operation
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws InvalidArgumentException
     * @return array of \Repull\Model\ListConnectionUnits200Response, HTTP status code, HTTP response headers (array of strings)
     */
    public function listConnectionUnitsWithHttpInfo(
        string $id,
        ?string $session_id = null,
        string $contentType = self::contentTypes['listConnectionUnits'][0]
    ): array
    {
        $request = $this->listConnectionUnitsRequest($id, $session_id, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();

            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\Repull\Model\ListConnectionUnits200Response',
                        $request,
                        $response,
                    );
            }
            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\Repull\Model\ListConnectionUnits200Response',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Repull\Model\ListConnectionUnits200Response',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        
            throw $e;
        }
    }

    /**
     * Operation listConnectionUnitsAsync
     *
     * List a connection&#39;s mappable units
     *
     * @param  string $id Connection handle &#x60;{channel}:{externalAccountId}&#x60;, e.g. &#x60;vrbo:12&#x60; or &#x60;booking_extranet:36&#x60;. (required)
     * @param  string|null $session_id The Connect session ID (capability token). (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['listConnectionUnits'] to see the possible values for this operation
     *
     * @throws InvalidArgumentException
     * @return PromiseInterface
     */
    public function listConnectionUnitsAsync(
        string $id,
        ?string $session_id = null,
        string $contentType = self::contentTypes['listConnectionUnits'][0]
    ): PromiseInterface
    {
        return $this->listConnectionUnitsAsyncWithHttpInfo($id, $session_id, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation listConnectionUnitsAsyncWithHttpInfo
     *
     * List a connection&#39;s mappable units
     *
     * @param  string $id Connection handle &#x60;{channel}:{externalAccountId}&#x60;, e.g. &#x60;vrbo:12&#x60; or &#x60;booking_extranet:36&#x60;. (required)
     * @param  string|null $session_id The Connect session ID (capability token). (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['listConnectionUnits'] to see the possible values for this operation
     *
     * @throws InvalidArgumentException
     * @return PromiseInterface
     */
    public function listConnectionUnitsAsyncWithHttpInfo(
        string $id,
        ?string $session_id = null,
        string $contentType = self::contentTypes['listConnectionUnits'][0]
    ): PromiseInterface
    {
        $returnType = '\Repull\Model\ListConnectionUnits200Response';
        $request = $this->listConnectionUnitsRequest($id, $session_id, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if (in_array($returnType, ['\SplFileObject', '\Psr\Http\Message\StreamInterface'])) {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'listConnectionUnits'
     *
     * @param  string $id Connection handle &#x60;{channel}:{externalAccountId}&#x60;, e.g. &#x60;vrbo:12&#x60; or &#x60;booking_extranet:36&#x60;. (required)
     * @param  string|null $session_id The Connect session ID (capability token). (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['listConnectionUnits'] to see the possible values for this operation
     *
     * @throws InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function listConnectionUnitsRequest(
        string $id,
        ?string $session_id = null,
        string $contentType = self::contentTypes['listConnectionUnits'][0]
    ): Request
    {

        // verify the required parameter 'id' is set
        if ($id === null || (is_array($id) && count($id) === 0)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $id when calling listConnectionUnits'
            );
        }



        $resourcePath = '/v1/connections/{id}/units';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $session_id,
            'sessionId', // param base name
            'string', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);


        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                '{id}',
                ObjectSerializer::toPathValue($id),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer (API Key) authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'GET',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation searchConnectionListingOptions
     *
     * Search listings a unit can be mapped to
     *
     * @param  string $id Connection handle &#x60;{channel}:{externalAccountId}&#x60;. (required)
     * @param  string|null $q Text to match (name, city or listing id). (optional)
     * @param  int|null $limit limit (optional, default to 20)
     * @param  string|null $session_id session_id (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['searchConnectionListingOptions'] to see the possible values for this operation
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws InvalidArgumentException
     * @return \Repull\Model\SearchConnectionListingOptions200Response
     */
    public function searchConnectionListingOptions(
        string $id,
        ?string $q = null,
        ?int $limit = 20,
        ?string $session_id = null,
        string $contentType = self::contentTypes['searchConnectionListingOptions'][0]
    ): \Repull\Model\SearchConnectionListingOptions200Response
    {
        list($response) = $this->searchConnectionListingOptionsWithHttpInfo($id, $q, $limit, $session_id, $contentType);
        return $response;
    }

    /**
     * Operation searchConnectionListingOptionsWithHttpInfo
     *
     * Search listings a unit can be mapped to
     *
     * @param  string $id Connection handle &#x60;{channel}:{externalAccountId}&#x60;. (required)
     * @param  string|null $q Text to match (name, city or listing id). (optional)
     * @param  int|null $limit (optional, default to 20)
     * @param  string|null $session_id (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['searchConnectionListingOptions'] to see the possible values for this operation
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws InvalidArgumentException
     * @return array of \Repull\Model\SearchConnectionListingOptions200Response, HTTP status code, HTTP response headers (array of strings)
     */
    public function searchConnectionListingOptionsWithHttpInfo(
        string $id,
        ?string $q = null,
        ?int $limit = 20,
        ?string $session_id = null,
        string $contentType = self::contentTypes['searchConnectionListingOptions'][0]
    ): array
    {
        $request = $this->searchConnectionListingOptionsRequest($id, $q, $limit, $session_id, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();

            switch($statusCode) {
                case 200:
                    return $this->handleResponseWithDataType(
                        '\Repull\Model\SearchConnectionListingOptions200Response',
                        $request,
                        $response,
                    );
            }
            

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        (string) $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    (string) $response->getBody()
                );
            }

            return $this->handleResponseWithDataType(
                '\Repull\Model\SearchConnectionListingOptions200Response',
                $request,
                $response,
            );
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Repull\Model\SearchConnectionListingOptions200Response',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    throw $e;
            }
        
            throw $e;
        }
    }

    /**
     * Operation searchConnectionListingOptionsAsync
     *
     * Search listings a unit can be mapped to
     *
     * @param  string $id Connection handle &#x60;{channel}:{externalAccountId}&#x60;. (required)
     * @param  string|null $q Text to match (name, city or listing id). (optional)
     * @param  int|null $limit (optional, default to 20)
     * @param  string|null $session_id (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['searchConnectionListingOptions'] to see the possible values for this operation
     *
     * @throws InvalidArgumentException
     * @return PromiseInterface
     */
    public function searchConnectionListingOptionsAsync(
        string $id,
        ?string $q = null,
        ?int $limit = 20,
        ?string $session_id = null,
        string $contentType = self::contentTypes['searchConnectionListingOptions'][0]
    ): PromiseInterface
    {
        return $this->searchConnectionListingOptionsAsyncWithHttpInfo($id, $q, $limit, $session_id, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation searchConnectionListingOptionsAsyncWithHttpInfo
     *
     * Search listings a unit can be mapped to
     *
     * @param  string $id Connection handle &#x60;{channel}:{externalAccountId}&#x60;. (required)
     * @param  string|null $q Text to match (name, city or listing id). (optional)
     * @param  int|null $limit (optional, default to 20)
     * @param  string|null $session_id (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['searchConnectionListingOptions'] to see the possible values for this operation
     *
     * @throws InvalidArgumentException
     * @return PromiseInterface
     */
    public function searchConnectionListingOptionsAsyncWithHttpInfo(
        string $id,
        ?string $q = null,
        ?int $limit = 20,
        ?string $session_id = null,
        string $contentType = self::contentTypes['searchConnectionListingOptions'][0]
    ): PromiseInterface
    {
        $returnType = '\Repull\Model\SearchConnectionListingOptions200Response';
        $request = $this->searchConnectionListingOptionsRequest($id, $q, $limit, $session_id, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    if (in_array($returnType, ['\SplFileObject', '\Psr\Http\Message\StreamInterface'])) {
                        $content = $response->getBody(); //stream goes to serializer
                    } else {
                        $content = (string) $response->getBody();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'searchConnectionListingOptions'
     *
     * @param  string $id Connection handle &#x60;{channel}:{externalAccountId}&#x60;. (required)
     * @param  string|null $q Text to match (name, city or listing id). (optional)
     * @param  int|null $limit (optional, default to 20)
     * @param  string|null $session_id (optional)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['searchConnectionListingOptions'] to see the possible values for this operation
     *
     * @throws InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function searchConnectionListingOptionsRequest(
        string $id,
        ?string $q = null,
        ?int $limit = 20,
        ?string $session_id = null,
        string $contentType = self::contentTypes['searchConnectionListingOptions'][0]
    ): Request
    {

        // verify the required parameter 'id' is set
        if ($id === null || (is_array($id) && count($id) === 0)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $id when calling searchConnectionListingOptions'
            );
        }


        if ($limit !== null && $limit > 50) {
            throw new InvalidArgumentException('invalid value for "$limit" when calling ConnectionsApi.searchConnectionListingOptions, must be smaller than or equal to 50.');
        }
        if ($limit !== null && $limit < 1) {
            throw new InvalidArgumentException('invalid value for "$limit" when calling ConnectionsApi.searchConnectionListingOptions, must be bigger than or equal to 1.');
        }
        


        $resourcePath = '/v1/connections/{id}/listing-options';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $q,
            'q', // param base name
            'string', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $limit,
            'limit', // param base name
            'integer', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);
        // query params
        $queryParams = array_merge($queryParams, ObjectSerializer::toQueryValue(
            $session_id,
            'sessionId', // param base name
            'string', // openApiType
            'form', // style
            true, // explode
            false // required
        ) ?? []);


        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                '{id}',
                ObjectSerializer::toPathValue($id),
                $resourcePath
            );
        }


        $headers = $this->headerSelector->selectHeaders(
            ['application/json', ],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }

        // this endpoint requires Bearer (API Key) authentication (access token)
        if (!empty($this->config->getAccessToken())) {
            $headers['Authorization'] = 'Bearer ' . $this->config->getAccessToken();
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'GET',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Create http client option
     *
     * @throws \RuntimeException on file opening failure
     * @return array of http client options
     */
    protected function createHttpClientOption(): array
    {
        $options = [];
        if ($this->config->getDebug()) {
            $options[RequestOptions::DEBUG] = fopen($this->config->getDebugFile(), 'a');
            if (!$options[RequestOptions::DEBUG]) {
                throw new \RuntimeException('Failed to open the debug file: ' . $this->config->getDebugFile());
            }
        }

        return $options;
    }

    private function handleResponseWithDataType(
        string $dataType,
        RequestInterface $request,
        ResponseInterface $response,
    ): array {
        if (in_array($dataType, ['\SplFileObject', '\Psr\Http\Message\StreamInterface'])) {
            $content = $response->getBody(); //stream goes to serializer
        } else {
            $content = (string) $response->getBody();
            if ($dataType !== 'string') {
                try {
                    $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                } catch (\JsonException $exception) {
                    throw new ApiException(
                        sprintf(
                            'Error JSON decoding server response (%s)',
                            $request->getUri()
                        ),
                        $response->getStatusCode(),
                        $response->getHeaders(),
                        $content
                    );
                }
            }
        }

        return [
            ObjectSerializer::deserialize($content, $dataType, []),
            $response->getStatusCode(),
            $response->getHeaders()
        ];
    }

    private function responseWithinRangeCode(
        string $rangeCode,
        int $statusCode,
    ): bool {
        $left = (int) ($rangeCode[0].'00');
        $right = (int) ($rangeCode[0].'99');

        return $statusCode >= $left && $statusCode <= $right;
    }
}
